# app
NODE_ENV=development
PORT=3000
VERSION=1.0.0

# timezone
TIMEZONE_DEFAULT=+09:00
TIMEZONE_DEFAULT_NAME='Asia/Tokyo'

# API PREFIX URL
BASE_PATH=/api/v1

# cors
CORS_WHITELIST=*

MONGO_DATABASE_CONNECTION_STRING=mongodb://admin:password123@mongo:27017/appbettl?authSource=admin

SECRET=123456
EXP_IN_REFRESH_TOKEN=1d
EXP_IN_ACCESS_TOKEN=1h

GOOGLE_CLIENT_ID=1018859523360-ri0f6qko94kpdh2f2g4q8v2t6ketcern.apps.googleusercontent.com